server:
  servlet:
    encoding:
      charset: utf-8
      force: true
    session:
      tracking-modes: cookie
      cookie:
        http-only: true
        secure: true
        same-site: lax
      timeout: 30m
  port: 8080

logging:
  level:
    root: INFO
    com.example: DEBUG

spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${GMAIL_USERNAME}
    password: ${GMAIL_APP_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

  datasource:
      driver-class-name: com.mysql.cj.jdbc.Driver
      url: jdbc:mysql://localhost:3306/blog?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8&allowPublicKeyRetrieval=true
      username: ${DB_USERNAME}
      password: ${DB_PASSWORD}

  h2:
    console:
      enabled: true

  sql:
    init:
      mode: never
      data-locations:
        - classpath:db/data.sql

  jpa:
    hibernate:
      ddl-auto: update
#    show-sql: true
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 100
    defer-datasource-initialization: true
    open-in-view: false

oauth:
  kakao:
    client-id: ${KAKAO_CLIENT_ID}
    client-secret: ${KAKAO_CLIENT_SECRET}
  naver:
    client-id: ${NAVER_CLIENT_ID}
    client-secret: ${NAVER_CLIENT_SECRET}
    redirect-uri: ${NAVER_REDIRECT_URI}

social:
  key: ${SOCIAL_KEY}

portone:
  imp-key: ${IMP_REST_API_KEY}
  imp-secret: ${IMP_SECRET_KEY}

file:
  upload-dir: ${user.home}/uploads