{{> layout/header}}

<div class="container p-5 common-container">

    {{#isOwner}}
        <div class="d-flex justify-content-end mb-2">
            <a href="/boards/{{board.id}}/edit" class="btn btn-secondary me-2 rounded-5" >수정</a>
             <button class="btn btn-light rounded-5 border-secondary" id="deleteBtn" data-board-id="{{board.id}}">삭제</button>
        </div>
    {{/isOwner}}

    <div class="d-flex justify-content-between align-items-center mb-2">
        <div>
            {{#board.premium}}
                <span class="badge bg-danger">유료 게시글</span>
            {{/board.premium}}
        </div>
        {{^isOwner}}
        <div>
            <b>작성자</b> : {{board.username}}
        </div>
        {{/isOwner}}
    </div>

    <div>
        <h2><b>{{board.title}}</b></h2>
        <hr />

        {{#board.premium}}
            {{^board.isPurchased}}
                {{^isOwner}}
                    <div class="position-relative">
                        <div class="position-absolute top-50 start-50 translate-middle premium-modal">
                            <h4 class="text-danger mb-3">🔒 유료 게시글</h4>
                            <p>이 게시글을 보려면 <strong>500포인트</strong>가 필요합니다.</p>
                            {{#sessionUser}}
                                <button type="button" class="btn btn-primary d-flex" data-bs-toggle="modal" data-bs-target="#myModal">구매하기</button>
                            {{/sessionUser}}
                            {{^sessionUser}}
                                <a href="/login" class="btn btn-primary">로그인 후 구매</a>
                            {{/sessionUser}}
                        </div>
                    </div>
                {{/isOwner}}

                {{#isOwner}}
                    {{board.content}}
                {{/isOwner}}
            {{/board.isPurchased}}

            {{#board.isPurchased}}
                {{board.content}}
            {{/board.isPurchased}}
        {{/board.premium}}

        {{^board.premium}}
            {{board.content}}
        {{/board.premium}}
    </div>

    <div class="card mt-5">
        {{^board.premium}}
            {{#sessionUser}}
                <div class="card-body">
                    <form action="/replies" method="post">
                        <input type="hidden" name="boardId" value="{{board.id}}">
                        <textarea class="form-control" rows="2" name="comment" placeholder="댓글을 입력하세요"></textarea>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-outline-primary mt-1">댓글등록</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <b>댓글 리스트</b>
                </div>
                {{#replyList}}
                    <div class="list-group rounded-0 border-0">
                        <div class="list-group-item d-flex justify-content-between align-items-center">
                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-center mb-1">
                                    <div class="badge bg-secondary text-white rounded">{{username}}</div>
                                    <small class="text-muted px-2">{{createdAt}}</small>
                                </div>
                                <div>{{comment}}</div>
                            </div>

                            {{#isOwner}}
                                <button class="btn btn-danger btn-sm" id="replyDeleteBtn" data-reply-id="{{id}}">🗑 삭제</button>
                            {{/isOwner}}
                        </div>
                    </div>
                {{/replyList}}
            {{/sessionUser}}

            {{^sessionUser}}
                <div class="card-body">
                    <p class="text-muted text-center p-2">댓글을 작성하려면 <a href="/login" class="text-primary">로그인</a>이 필요합니다.</p>
                </div>
            {{/sessionUser}}
        {{/board.premium}}

        {{#board.premium}}
            {{#board.isPurchased}}
                {{#sessionUser}}
                    <div class="card-body">
                        <form action="/replies" method="post">
                            <input type="hidden" name="boardId" value="{{board.id}}">
                            <textarea class="form-control" rows="2" name="comment" placeholder="댓글을 입력하세요"></textarea>
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-outline-primary mt-1">댓글등록</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <b>댓글 리스트</b>
                    </div>
                    {{#replyList}}
                    <div class="list-group rounded-0 border-0">
                        <div class="list-group-item d-flex justify-content-between align-items-center">
                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-center mb-1">
                                    <div class="badge bg-secondary text-white rounded">{{username}}</div>
                                    <small class="text-muted px-2">{{createdAt}}</small>
                                </div>
                                <div>{{comment}}</div>
                            </div>

                            {{#isOwner}}
                                <button class="btn btn-danger btn-sm" id="replyDeleteBtn" data-reply-id="{{id}}">🗑 삭제</button>
                            {{/isOwner}}
                        </div>
                    </div>
                    {{/replyList}}
                {{/sessionUser}}

                {{^sessionUser}}
                    <div class="card-body">
                        <p class="text-muted text-center p-2">댓글을 작성하려면 <a href="/login" class="text-primary">로그인</a>이 필요합니다.</p>
                    </div>
                {{/sessionUser}}
            {{/board.isPurchased}}
        {{/board.premium}}

        {{^replyList}}
            <div class="list-group-item text-muted text-center py-3">
                작성된 댓글이 없습니다.
            </div>
        {{/replyList}}

    </div>
</div>



<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">게시글 구매</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <p>이 게시글을 <strong>500포인트</strong>로 구매하시겠습니까?</p>
                <p class="text-muted small">구매후 에는 언제든지 다시 볼 수 있습니다.</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">취소</button>
                <form action="/boards/{{board.id}}/purchases" method="post">
                    <button class="btn btn-primary" type="submit">구매하기</button>
                </form>
            </div>

        </div>
    </div>
</div>

<script src="/js/board/delete.js"></script>
{{> layout/footer}}