{{> layout/header}}

<div class="container p-5 common-container">
    <div class="card">
        <div class="card-header mb-0">
            <h4><b>포인트 충전</b></h4>
       </div>
        <div class="card-body">
            <div>
                <label class="form-label fw-bold">현재 보유 포인트</label>
                <div class="mb-4">
                    <span class="badge bg-primary fs-5">{{user.point}} P</span>
                </div>
            </div>
            <hr />
            <div class="mb-4">
                <label class="form-label fw-bold mb-3">충전할 포인트 선택</label>
                <div class="row g-3">
                    <div class="col-md-4"><button class="btn btn-outline-primary w-100 point-btn" data-amount="1000">1,000P</button></div>
                    <div class="col-md-4"><button class="btn btn-outline-primary w-100 point-btn" data-amount="5000">5,000P</button></div>
                    <div class="col-md-4"><button class="btn btn-outline-primary w-100 point-btn" data-amount="10000">10,000P</button></div>
                    <div class="col-md-4"><button class="btn btn-outline-primary w-100 point-btn" data-amount="20000">20,000P</button></div>
                    <div class="col-md-4"><button class="btn btn-outline-primary w-100 point-btn" data-amount="50000">50,000P</button></div>
                    <div class="col-md-4"><button class="btn btn-outline-primary w-100 point-btn" data-amount="100000">100,000P</button></div>
                </div>
            </div>

            <div class="mb-4">
                <label class="form-label fw-bold">충전 예정 금액</label>
                <p class="form-control-plaintext">
                    <span class="badge bg-success fs-5" id="selectedAmount">0</span> P
                </p>
            </div>

            <div class="d-grid gap-2">
                <button type="button" class="btn btn-primary" id="chargeBtn" disabled>충전하기</button>
                <a href="/me" class="btn btn-secondary">취소</a>
            </div>
        </div>
    </div>

</div>

<script src="https://cdn.portone.io/v2/browser-sdk.js"></script>
<script src="/js/payment/payment.js"></script>
{{> layout/footer}}