{{> layout/header}}

<div class="container p-5 common-container">
    <div class="card">
        <div class="card-header mb-0">
            <h4><b>결제 내역</b></h4>
        </div>

        <div class="card-body">
            {{#paymentList}}
                <div class="d-flex border-bottom border-muted">
                    <div class="flex-grow-1 my-3">
                        <h5 class="card-title mb-2">결제 {{id}}</h5>
                        <p class="text-muted mb-2">
                            <i class="fa-solid fa-receipt"></i> 결제주문번호 : {{paymentId}}
                        </p>
                        <p class="text-muted mb-2">
                            <i class="fa-solid fa-receipt"></i> 결제일 : {{paidAt}}
                        </p>
                        <p class="text-muted mb-2">
                            <i class="fa-solid fa-receipt"></i> 상태 : {{statusDisplay}}
                        </p>
                    </div>
                    <div class="text-end my-3">
                        <span class="badge bg-primary fs-6 mx-2">{{amount}} P</span>
                        {{#isRefundable}}
                            <a href="/refunds/{{id}}" class="btn btn-outline-danger btn-sm">환불하기</a>
                        {{/isRefundable}}
                    </div>
                </div>
            {{/paymentList}}

            <div class="mt-4">
                <a href="/refunds" class="btn btn-info">
                    <i class="fas fa-undo"></i>
                    환불 요청 내역</a>
                <a href="/me" class="btn btn-secondary">회원정보로 돌아가기</a>
            </div>

        </div>
    </div>
</div>

{{> layout/footer}}